


.chats{    
    overflow-y:scroll;
    height: 700px;
    
}


.chat{
    padding-top: 10px;
    display: flex;
    
    justify-content: space-between;
    align-content: center;
    
}

.chat__perfil{
    width: 200px;
    
}

.chat__contenido{
    
    width: 200px;
    max-height: 100px;
    
    overflow: hidden;
}

.chat__imagen{
    
    border-radius: 50%;
    height: 90px;
    margin-left: 10%;
    width: 100px;
}


.chat__nombre{
    font-family: "Moderustic", sans-serif;
    padding-bottom: var(--tamañoVeinte);
    margin-left: 10%;
}
.chat__mensaje{
    color: var(--colorGris);
    font-size: 18px;
    margin-left: 10%;
    
    
    
}

.chat__ultimoMensaje{
    width: 200px;
    text-align: center;
    
}

.chat__hora{

    font-family: "Moderustic", sans-serif;
    color: var(--colorGris);
    padding-top: 30%;
    
}

.chat__imagen--sebastian{
    margin-left: 10px;
}
.chat__nombre--sebastian{
    margin-left: 10px;
}



.chat__hora--sebastian{
    margin-right: 14px;

}

.chat__mensaje--sebastian::before{
    content: "✔✔ ";
    color: var(--colorAzul);
}

.chat__mensaje--sebastian{
    margin-left: 10px;
}

.chat__nombre--steven{
    margin-right: 16px;
}

.chat__nombre--helder{
    margin-right: 10px;
    
}
.chat__mensaje--helder{
    font-style: italic;
    color: var(--colorEscribiendo);
}

.chat__mensaje--steven::before{
    content: "✔ ";
}

.chat__nombre--ayer{
    margin-left: 11px;
}

.chat__mensaje--ayer{
    margin-left: 15px;
}